*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #d4d0cd;
}

/* =============Подключение шрифта Rockwell=============*/
@font-face{
	font-family: Rockwell;
	scr:url(../fonts/Rockwell.ttf);
}
/*=====================WRAP-BLOCK=============*/
.wrap{
	max-width: 930px;
	margin: 0 auto;
}
/*================LOGO============*/
.logo{
	width: 200px;
	height: 90px;
	display: flex;
	flex-direction:row;
	justify-content:center;
	font-family: Rockwell;
	font-size: 88px;
	margin:0 auto;
}
	.logo a{
		text-decoration: none;
		color: #bab7b5;
	}
/*==========Навигация и поиск ================*/	
header{
	display: flex;
	flex-direction:row;
	justify-content:space-between;
	width: 100%;
	height: 55px;
	background-color: #fff;
	box-shadow: 0 0 6px #979592;
	margin-top: 25px;
	font-family: Rockwell;
	font-size: 18px;
	font-weight: bold;
}
nav{
	width: 45%;
}
	.menu{
		display: flex;
		flex-direction:row;
		justify-content:space-around;
		margin-top: 20px;
	}
		.menu-item{
			list-style: none;
		}
			.menu-item a{
				text-decoration: none;
				color: #5b5b5b;
				
			}

	form{
		width: 35%;
		position: relative;
	}	
		.search{
			width: 261px;
			height: 32px;
			border: 2px solid #ececec;
			border-radius: 3px;
			color: #e2e2e2;
			font-size: 18px;
			padding-left:16px;
			margin-top: 12px;
			margin-left: 20px;
			box-sizing:padding-box;
		}
		form>button{
			border:none;
			background-color: transparent;
			position: absolute;
			right: 40px;
			top:22px;
		}
/* Slider*/
.slider-bg{
	background-color: #fff;
	box-shadow: 0 0 6px #979592;
	width: 100%;
	height: 375px;
	margin-top: 15px;
}
	.slider{
		width: 906px;
		height: 347px;
		display: block;
		margin-left: 12px;
		margin-top: 15px;
		position: relative;
	}
	.slider img{
		margin-top: 15px;
	}
	.slider-btn-left,.slider-btn-right{
		position: absolute;
		background-color: transparent;
		border: none;
		top:150px;
	}
	.slider-btn-left{
		left: 20px
	}
	.slider-btn-right{
		right: 20px;
	}
	/* ======== Посты =======*/
	.posts{
		display: flex;
		flex-direction:row;
		width: 100%;
		margin:17px 0 16px 0;
		font-family: Rockwell;
	}
	.post-item{
		display: flex;
		flex-direction:column;
		width: 24.19%;
		margin-right: 1.08%;
		background-color: #fff;
		box-shadow: 0 0 5px #7c7773;

	}
		.post-item:last-child{
			margin-right: 0;
		}
	.post-item img{
		display: block;
		width: 204px;
		height: 156px;
		margin: 10px;
	}	
	.post-item p{
		display: inline-block;
		font-size: 12px;
		color: rgb( 52, 52, 51 );
		line-height: 1.6;
		text-align: justifyLeft;
		margin-left: 10px;
		margin-right: 12px;
		text-indent: 35px;
	}
	.post-item a{
		display: inline-block;
		text-align: right;
		color: #000;
		margin:10px 10px 10px 0;

	}
.welcome{
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	background-color: #fff;
	box-shadow: 0 0 5px #7c7773;
	margin-bottom: 15px;
	
}
.wel-img{
	display: block;
	width: 23.12%;
	margin: 11px 0 10px 11px;
	
}
.wel-text{
	width: 72.58%;
	margin: 15px 14px 0 14px;
  font-family: "Rockwell";
  color: #000;
}
	.wel-text h3{
		display: inline-block;
		font-size: 18px;
		margin-bottom: 18px;
	}
	.wel-text p{
		text-indent: 35px;
		 font-size: 12.002px;
	}
	.wel-text a{
		display: inline-block;
		text-align: right;
		margin:10px 10px 10px 0;

	}

/*===================footer===================*/
.footer{
	width: 100%;
	background-color: #fff;
	box-shadow: 0 0 5px #7c7773;
	margin-bottom: 50px;

}
.footer p{
	display: inline-block;
	margin: 23px;
	font-size: 14px;
	color: #545454;
}